name: Pull Request Build - NodeJS

on:
  pull_request:
    paths:
      - 'nodejs/**'
      - '.github/workflows/*-nodejs.yml'
      - '.github/workflows/tests.yml'
      - '!nodejs/sample-apps/template.yaml'
      - '!**/*.md'

jobs:
  build-artifacts:
    uses: ./.github/workflows/build-artifacts.yml
    with:
      BUILD_COMMAND: make build-nodejs
      LANGUAGE: nodejs
      ARTIFACT_ARCHIVE_BASE_NAME: opentelemetry-nodejs
      ARTIFACT_NAME: ${{ github.head_ref }}

  create-dev-lambda-layer:
    needs: build-artifacts
    uses: ./.github/workflows/publish-dev-layer.yml
    with:
      ARTIFACT_ARCHIVE_BASE_NAME: opentelemetry-nodejs
      ARTIFACT_NAME: ${{ github.head_ref }}
      LANGUAGE: nodejs

  run-tests:
    needs: create-dev-lambda-layer
    uses: ./.github/workflows/tests.yml
    with:
      LANGUAGE: nodejs
      LAYER_ARN_AMD64: ${{ needs.create-dev-lambda-layer.outputs.lambdalayeramd64 }}
      LAYER_ARN_ARM64: ${{ needs.create-dev-lambda-layer.outputs.lambdalayerarm64 }}
